/umlet-gwt/src/main/java/com/baselet/gwt/client/view/palettes/UML Activity - All in one.uxf
bin/
target/
.factorypath
.classpath
# .project must be checked in because it is used for the linkedResources for umlet-eclipse-plugin